---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import StackSection from "../components/StackSection.astro";
---

<BaseLayout title="Morphic Studio">
  <Header />
  <Hero />
  <main class="site">
    <StackSection />
  </main>
</BaseLayout>
