---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import StackSection from "../components/StackSection.astro";
import Gallery from "../components/Gallery.astro";
import Faq from "../components/Faq.astro";
import Faq2 from "../components/Faq2.astro";
---

<BaseLayout title="Morphic Studio">
  <Header />
  <Hero />
  <main class="site">
    <StackSection />
    <Gallery />
    <Faq />
    <Faq2 />
  </main>
</BaseLayout>
