---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import StackSection from "../components/StackSection.astro";
import Method from "../components/Method.astro";
import Gallery from "../components/Gallery.astro";
import Pricing from "../components/Pricing.astro";
import BlogPreview from "../components/BlogPreview.astro";
import Faq from "../components/Faq.astro";
import Contact from "../components/Contact.astro";
---

<BaseLayout title="Morphic Studio">
  <Header />
  <Hero />
  <main class="site">
    <StackSection />
    <Method />
    <Gallery />
    <Pricing />
    <BlogPreview />
    <Faq />
    <Contact />
  </main>
</BaseLayout>
